form{
    width: 350px;
    height: 450px;
    border-radius:10px;
    background-color: #e0e0f8;
    border: 5px solid blue;

}
.container{
    width: 400px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    border-radius: 8px ;
}
input{
    width: 250px;
    height: 40px;
    padding: 15px;
    border-radius: 5px;
}
button{
   width: 250px;
   height: 35px; 
   font-size: 20px;
   background-color: #6200ea;
   color: #fff;
   border: none;
   cursor: pointer;
   border-radius: 8px;
}
p{
    width: 30%;
   height: 30%; 
   font-size: 20px;
   background-color: #7e78f8;
   color: #fff;
   border: 2px solid black;
   cursor: pointer;
   border-radius: 8px;
}